.projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252527;
}

.container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  transform: scaleY(.9);
  margin: 20px 0;
}

.projectsWrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectItem {
  background: #cccccc;
  width: 480px;
  margin: 5px 0;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectItem:hover .projectDescr {
  transform: translateY(200px);
}

.projectItem:hover .projectLink {
  display: block;
}

.projectLink {
  background: #333333;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: max-content;
  display: none;
}

.projectDescr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: #333333;
  transform: translateY(280px);
  transition: all .25s;
}

@media screen and (max-width: 800px) {
  .projectsWrap {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .projectItem {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .projectsWrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


