.sectionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.sectionTitle {
  text-align: center;
  transform: scaleY(.9);
  font-size: 36px;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.line {
  height: 1px;
  width: 55px;
  background: #4e93e6;
}