.buttonWrap {
  margin-top: 20px;
}

.button {
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
}

.button:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 80%;
  z-index: -1;
  background: #4e93e6;
  margin: 0 auto;
}