.skills {
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  transform: scaleY(.9);
  /*margin-bottom: 120px;*/
}

.skillsWrap {
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.skillsItem {
  background: #ffffff;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}