.navMenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  transform: scaleY(.9);
  color: #ffffff;
  cursor: pointer;
}

.link::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: width .25s;
}

.link:hover::before {
  width: 100%;
}

.active::before {
  width: 100%;
}
