.contacts {
    height: 80vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle {
    text-align: center;
    text-transform: uppercase;
    transform: scaleY(.9);
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-around;
}

.form input {
    height: 25px;
}

.form,
.form textarea {
    height: 50%;
}

.buttonWrap {
    margin-top: 20px;
}

.button {
    cursor: pointer;
    height: 50px;
    width: 100px;
    /*text-transform: uppercase;*/
    /*transform: scaleY(.9);*/
    /*letter-spacing: 1px;*/
}